<% provide(:title, "Edit instructor") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@instructor) do |f| %>
      <%= render 'shared/instructor_error_messages' %>
      <%= f.label :名前 %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.label :メールアドレス %>
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.label :パスワード %>
      <%= f.password_field :password, class: 'form-control' %>
      <%= f.label :password_confirmation, "確認用パスワード" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
        <% if @instructor.img? %>
          <%= image_tag @instructor.img.url %>
        <% end %>
        <%= f.file_field :img %>
        <%= f.submit "変更を保存する", class: "btn btn-primary" %>
    <% end %>
    
  </div>
</div>